<div class="game-detail">
  <div class="game-name">
    <h2><%= @game.name %></h2>
  </div>
  <% if @game.steam_game_id %>
    <div class="game-steamid">
      <a href="http://store.steampowered.com/app/<%= @game.steam_game_id %>">Check out <%= @game.name %> on Steam!</a>
    </div>
  <% end %>
  <div class="game-description pull-right" >
    <p> <%= @game.description %> </p>
  </div>
  <div id="game_poster">
    <img src="<%= @game.poster %>" width=200px>
  </div>
  <button id="write_review_button" class="btn">Write Review</button>
  <div id="new_review" class="user-review">
  </div>
  <%= render partial: 'greviews' %>
</div>
