<ul class="grev-list">
  <% @game.game_reviews.each do |grev| %>
    <ul class="grev-item">
      <li class="review-reviewer-avatar">
        <img class="rounded" src="<%= grev.user.avatar_url %>" alt="">
      </li>
      <li class="review-reviewer-name">
        <%= grev.user.display_name %>
      </li>
      <li class="review-rating">  
        Rating: <%= grev.game_rating.rating %>
      </li>
      <li class="review-title">
        <%= grev.title %>
      </li>
      <li class="review-body">
        <%= grev.body %>
      </li>
    </ul>
  <% end %>
</ul>
