<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <title>GameStats</title>
  <meta name="description" content="Collects statistics from Steam.">
  <meta name="author" content="Pedro">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>

<body onload="createChart();">
  <header role="banner">
    <h1>GameStats</h1>
  </header>
  <% if current_user %>
  <nav role="primary">
    <a href="/">Home</a>
    <a href="/account" id="account_page_link">Account</a>
    <a class="" id="logout_btn" href="logout">Log out</a>
  </nav>
  <% end %>

  <%= render 'layouts/messages' %>
  <%= yield %>
</body>

</html>
